.archive-editor {
  background-color: var(--pane-item-background-color);
  overflow: auto;
  contain: strict;

  .archive-container {
    height: 100%;
    width: 100%;

    .inset-panel {
      border-width: 0;
      background-color: var(--pane-item-background-color);

      .archive-tree {
        padding: 5px;

        .entry:not(.selected) {
          &.list-item:hover::before,
          &.list-nested-item:has(> .list-item:hover)::before {
            content: "";
            position: absolute;
            right: 0;
            left: 0;
            height: var(--component-line-height);
            background-color: var(--background-color-highlight);
          }

          &.list-item:hover > *,
          &.list-nested-item:has(> .list-item:hover) > .list-item {
            position: relative;
          }
        }
      }
    }
  }
}
